@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('./landing.css');
/* Color Palette

Nav Black: 36, 36, 35
Main color: 51, 53, 51
Text Non-hover: 232, 237, 223
Icon and Hover Background: 245, 203, 92
Second color: 207, 219, 213

*/

body {
    overflow-x: hidden;
}
nav {
    margin-bottom: 0;
}

nav, nav ul {
    width: 100vw;
    height: 8vh;
    overflow: hidden;
    z-index: 1;
}

.container {
    z-index: 0;
}

nav ul {
    font-family: 'Poppins', sans-serif;
    color: rgb(232, 237, 223);
    margin: 0;  
    padding: 0;
    background-color: rgba(36, 36, 35, 1); 
}

nav ul li {
    list-style: none;
    margin-right: 0;
    border: 0;
    float: left;
    padding: 0;
}

nav ul li button#toggle-nav {
    display: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 2.7vh 2vh;
    color: rgb(232, 237, 223);
}

nav ul li a.logo {
    color: rgb(245, 203, 92);
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }

/*Nav Buttons Animation*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(245, 203, 92);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

/* HERO IMAGE CSS */

div.landing-page {
    z-index: -1;
    margin-top: 0;
    background-image: url(../images/hero-image.jpg);
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    margin-top: -3vh;
}